html, body {
	margin:0;
	padding:0;
	height:100%;
}
body {
	min-height: 100%;
}
#wrapper {
	min-height:100%;
	position:relative;
	background: grey;
	border-right-width: 4px;
	border-right-style: groove;
	border-right-color: rgba(240, 126, 126, 0.87);
	border-left-width: 4px;
	border-left-style: groove;
	border-left-color: rgba(240, 126, 126, 0.87);
}
#overridebootstraptop {
	background:black;
	color: rgba(240, 126, 126, 0.87);
	border-bottom-color: #F07E7E;
	border-bottom-style: groove;
	border-bottom-width: 4px;
}
#overridebootstrapbottom {
	background:black;
	color: grey;
	border-top-color: #F07E7E;
	border-top-style: groove;
	border-top-width: 4px;
}
#overridebootstraptop, #overridebootstrapbottom, .greybox {
	display: none;
}
header h3 {
	text-align: center;
	font-size: 2.5em;
}
header p {
	text-align: center;
	font-size: 1em;
	padding-left: 3em;
}
.intro img {
	margin: auto;
	border-style: groove;
	border-width: 2px;
	border-color: #F07E7E;
}
.intro {
	text-align: center;
}
.intro button {
	width: 30em;
	height: 4em;
	margin-top: 10em;
}
.greybox {
	padding:10px;
	padding-top:10em;   /* Height of the footer element */
}
#overridebutton {
	border-color: #f07e7e;
}
footer {
	width:100%;
	min-height: 118px;
	background:black;
}
header img {
	position: absolute;
	height: 100%;
	width: auto;
}
.explanation {
	display: none;
	text-align: center;
	padding-top: 8em;
	color: white;
	font-size: 2em;
	text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.explanation a {
	text-shadow: none;
}
.correct, .incorrect {
	display: none;
}
.carousel-inner img{
	max-height: 45%;
	margin: auto;
}
#carouselButtons {
    margin-left: 50%;
    position: absolute;
    bottom: 0px;
}
.carousel-caption h3 {
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.carousel-caption p {
   text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       0px 0px 0 #000;
}
.potentialanswers {
	text-align: center;
	width: 50%;
	margin: auto;
	font-size: 1.5em;
	color: white;
	text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.answergroup.btn-group-justified {
	margin: auto;
	width: 50%;
}
#progressoverride {
	max-width: 50%;
	margin: auto;
	margin-top: 1em;
}
.continuewrapper {
	text-align: center;
	display: none;
	margin-top: 1em;
}
#stop, .stop {
	display: none;
}
.outro {
	display: none;
	text-align: center;
	padding-top: 10em;
}
.outro h1, .outro h2 {
	color: white;
	text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.gameover {
	font-size: .6em;
}
@media (max-height: 950px) and (max-width: 1450px) {
	header h3 {
		display: none;
	}
	.greybox {
		padding-top: 4em;
	}
	.picture {
		padding: 0;
	}
	footer {
		min-height: 0px;
	}
	.progressbar {
		margin-top: .6em;
	}
	.answers p {
		padding: .25em;
	}
}

@media (max-height: 787px), (max-width: 1325px) {
	.next {
		padding: 1em;
	}
	.next button {
		height: 3em;
		width: 16em;
	}
}
*/